<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FastRace</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link th:href="@{/css/home.css}" rel="stylesheet"/>
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="home.html" th:href="@{/home}">
            <img th:src="@{/img/logo7.png}"/>
        </a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="home.html" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Add data </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="addRace.html" th:href="@{/addRace}">Add race</a></li>
                        <li><a class="dropdown-item" href="addDriver.html" th:href="@{/addDriver}">Add driver</a></li>
                        <li><a class="dropdown-item" href="addScore.html" th:href="@{/addScore}">Add score</a></li>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="result.html" th:href="@{/result}">Result</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="top.html" th:href="@{/top}">Top3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html" th:href="@{/contact}">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <header class="page-header header container-fluid">
        <div class="overlay"></div>
        <div class="description">

            <script src="../static/js/welcome.js"></script>
            <h1>You are on the main page of FastRace</h1>
            <p>On this website we keep race records and driver statistics. <br>
                You can add a new driver or a new race, and record the driver's score for that race</p>
            <button class="btn btn-outline-secondary btn-lg"
                    onclick="window.location.href='top'">TOP3 drivers
            </button>
        </div>
    </header>
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/static/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<!--<script src="main.js"></script>-->
<footer class="page-footer">
    <div class="container">
        <div class="footer-copyright text-center">© 2020 Copyright: P_Tomaszewski</div>
    </div>
</footer>
</body>

</html>