<!DOCTYPE html>
<html lang="en">
<head>

    <title>FastRace</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="home.html">
            <img src="img/logo7.png" alt="">
        </a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="home.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Add data </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="addRace.html">Add race</a></li>
                        <li><a class="dropdown-item"  href="addDriver.html">Add driver</a></li>
                        <li><a class="dropdown-item"  href="addScore.html">Add score</a></li>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="result.html">Result</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="top.html">Top3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</head>
<body>
<h1 class='mb-3'>Top3 drivers</h1>
<table id="dtBasicExample" class="table" width="100%">
    <thead>
    <tr>
        <th class="th-sm">Place
        </th>
        <th class="th-sm">Name
        </th>
        <th class="th-sm">Lastname
        </th>
        <th class="th-sm">Team
        </th>
        <th class="th-sm">Car
        </th>
        <th class="th-sm">Score
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1.</td>
        <td>ADAM</td>
        <td>JURECKI</td>
        <td>STW</td>
        <td>BMW E30 344i</td>
        <td>101</td>
    </tr>
    <tr>
        <td>2.</td>
        <td>ARTUR</td>
        <td>KRZYSZTON</td>
        <td>TurboWorks Drift Team</td>
        <td>BMW E30 340i</td>
        <td>97</td>

    </tr>
    <tr>
        <td>3.</td>
        <td>ARKADIUSZ</td>
        <td>KUBICZEK</td>
        <td>AMZ Motorsport Team	</td>
        <td>BMW E30 335i</td>
        <td>97</td>
    </tr>
    </td>
    </tr>
    </tbody>
    <tfoot>
    </tfoot>
</table>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
</script>
<script src="main.js"></script>
<footer class="page-footer">
    <div class="container">
        <div class="footer-copyright text-center">© 2020 Copyright: P_Tomaszewski</div>
    </div>
</footer>
</body>

</html>